:root {
    --blue: #01AAFD;
    --yellow: #F3BA37;
    --red: #FF4223;
    --pink: #FE98B2; 
  }

/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* resets */

*  {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}


/*font-family: 'Inter', sans-serif;*/

*{box-sizing: border-box;}

html{scroll-behavior: smooth;}

html,body{
        margin:0;
        min-height: 100vh;
        font-family: 'Inter', sans-serif;}

header {display: block;}

/*Nav Styles*/

.container-fluid{background-color: #F3BA37;
                height: 6vw;
                margin:0;}

.bg-custom{Font-size: 120%;
            font-weight: 600;}

.navbar-brand {padding: 0 50px;}

.navbar-brand:hover{transform: scale(1.1);}

#nav-link {padding: 0 50px;
            text-decoration: none;
            color: black;}

#nav-link:hover{transform: translateY(-8px);
        color:#D9D9D9;}

/*End nav Styles*/

/*Footer Styles*/

.footer {background-color: #FE98B2;
        height: 6vw;
         margin:0;}

         @media only screen and (max-width:625px) {

            .container-fluid{height: fit-content;}
    
            .navbar-brand{font-size: 70%;}
            
            .nav-link{font-size: 70%;}}