body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #FF4223;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .profile-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  p {
    margin: 0;
  }